.app-container {
  display: grid;
  grid-template-columns: auto 1fr; /* Ajusta o Navigator ao tamanho necessário e o conteúdo principal ocupa o restante */
  grid-template-rows: 1fr; /* Uma única linha */
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--bg2);
}

.navigator-container {
  display: grid;
  grid-column: 1;
}

.view-app {
  display: grid;
  padding: 30px;
  margin: 1rem 0 0 0;
  background-color: var(--bg);
  border-top-left-radius: 15px;
  grid-column: 2;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .view-app {
    margin: 0;
    border-radius: 0;
    padding: 5px;
  }
}
