.DS_Store
Thumbs.db

node_modules/
.pnp/
.pnp.js

dist/
build/
out/
coverage/
*.tsbuildinfo

.cache/
.eslintcache
.parcel-cache/
.vite/
.turbo/
.next/
.nuxt/

**/*.env
!.env.example
**/*credentials*.json
components.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace

jest.config.ts.snap
.nyc_output/

*.map
