/* Estilos básicos para todos os botões */
.btn {
  display: flex;
  width: auto;
  padding: 12px 18px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
  color: var(--text);
  background-color: transparent;
  text-align: center;
  border: 1px solid var(--default-button);
  opacity: 1;
  transition:
    opacity 0.3s ease,
    margin-left 0.5s ease,
    filter 0.3s ease,
    background-color 0.1s ease,
    box-shadow 0.1s ease;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  filter: brightness(110%);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn.destructive {
  border: 3px dotted var(--destructive-button);
}

.btn.cancel {
  border: 1px solid var(--destructive-button);
}

.btn.cancel:hover {
  border: 1px solid var(--destructive-button-hover);
}

.btn.confirm {
  color: #fff;
  border: 2px solid var(--bg);
  background-color: var(--confirm-button);
  box-shadow: 0 0 0 2px var(--confirm-button-hover); /* borda azul mais escura externa */
}

.btn.confirm:hover {
  background-color: var(--confirm-button-hover);
  /* box-shadow: 0 0 0 2px var(--confirm-button-hover); */
}

.btn.symbolic {
  /* padding: 10px; */
  border: none;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.btn.symbolic:hover {
  transform: scale(1.05);
}

.btn.symbolic.scroll {
  background-color: var(--scroll-button);
  margin: 20px;
}

.btn.no-scalling:hover {
  transform: unset;
}

.btn.no-padding {
  padding: 0;
}

.btn.no-brightness {
  filter: unset;
}

.btn.min-eq-padding {
  padding: 15px;
}

.btn.symbolic.normal:hover {
  color: var(--form-normal-link);
}

.btn.neon {
  float: left;
  background: transparent;
  outline: none;
  transition: 400ms;
}

.btn.neon:hover {
  /* border: 2px solid; */
  box-shadow: 0 0 8px;
}

.highlight {
  outline: 4px solid var(--text) !important;
}

#discordButton .tooltip-container .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5865f2;
  cursor: pointer;
}

/* containers */

.button-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.group-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-button.left {
  margin-right: auto;
}

.group-button.center .btn * {
  text-align: center;
}

.group-button.fixed {
  position: relative;
}

.group-button.fixed.center .btn {
  position: absolute;
  top: 0;
}

.sepButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px;
}

.modal-buttons .btn {
  width: 100%;
}

@media (max-width: 600px) {
  .sepButtons {
    justify-content: space-between;
  }
}

:root[data-modifier='glass'] .btn {
  background: var(--btn-glass-default);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 24px;
  border: 2px solid var(--btn-glass-default-border);
}

:root[data-modifier='glass'] .btn.symbolic {
  background: unset;
  box-shadow: unset;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
  border: unset;
}

/* Confirm Button */
:root[data-modifier='glass'] .btn.confirm {
  color: #fff;
  background: var(--btn-glass-confirm);
  border: 2px solid var(--btn-glass-confirm-border);
  box-shadow: 0 0 0 2px var(--btn-glass-confirm-border);
}

/* Destructive Button */
:root[data-modifier='glass'] .btn.destructive {
  background: var(--btn-glass-destructive);
  border: 2px solid var(--btn-glass-destructive-border);
  color: #fff;
}

/* Cancel Button */
:root[data-modifier='glass'] .btn.cancel {
  background: var(--btn-glass-cancel);
  border: 2px solid var(--btn-glass-cancel-border);
  color: var(--text);
}

/* Hover states */
:root[data-modifier='glass'] .btn:hover {
  filter: brightness(1.08);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.18);
}

:root[data-modifier='glass'] .btn.symbolic {
  filter: brightness(1.08);
  box-shadow: unset;
}

:root[data-modifier='glass'] .btn.confirm:hover {
  filter: brightness(1.12);
}

:root[data-modifier='glass'] .btn.destructive:hover {
  filter: brightness(1.12);
}

:root[data-modifier='glass'] .btn.cancel:hover {
  filter: brightness(1.08);
}
