:root {
  --toastification-color-success: #27ae60; /* verde principal */
  --toastification-color-error: #c0392b; /* vermelho principal */
  --toastification-color-info: #2980b9; /* azul principal */
  --toastification-color-warning: #ffad29; /* laranja principal */

  /* Linhas mais escuras para contraste */
  --toastification-color-success-lines: #1e874b;
  --toastification-color-error-lines: #962d22;
  --toastification-color-info-lines: #216494;
  --toastification-color-warning-lines: #cc8800;

  --toastification-color-text: #000;
}

:root[data-theme='dark'] {
  --toastification-color-success: #1d7a4a; /* Verde escuro */
  --toastification-color-error: #b53428; /* Vermelho mais fechado */
  --toastification-color-info: #216994; /* Azul fechado */
  --toastification-color-warning: #d6820c; /* Laranja escuro */

  /* Linhas mais escuras para destacar, mas não excessivamente claras */
  --toastification-color-success-lines: #13452a;
  --toastification-color-error-lines: #701b12;
  --toastification-color-info-lines: #153a52;
  --toastification-color-warning-lines: #7d4c09;

  --toastification-color-text: #fff;
}

/* Toast base */
.Vue-Toastification__toast {
  padding: 10px !important;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  color: var(--toastification-color-text);
  min-height: 40px;
  font-weight: 1200px;
}

/* Tipos */
.Vue-Toastification__toast--success {
  background: var(--toastification-color-success);
}

.Vue-Toastification__toast--error {
  background: var(--toastification-color-error);
}

.Vue-Toastification__toast--info {
  background: var(--toastification-color-info);
}

.Vue-Toastification__toast--warning {
  background: var(--toastification-color-warning);
}

/* Corpo */
.Vue-Toastification__toast-body {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* Barra de progresso */
.Vue-Toastification__progress-bar {
  height: 3px;
  border-radius: 5px;
}

/* Botão de fechar */
.Vue-Toastification__close-button {
  opacity: 1;
  transition: opacity 0.3s;
  background: transparent !important;
}

.Vue-Toastification__toast .Vue-Toastification__progress-bar {
  object-fit: cover;
  height: 100%;
  opacity: 0.5 !important;
  z-index: 1;
}

.Vue-Toastification__toast .Vue-Toastification__close-button {
  display: none;
}

/* Sucesso */
.Vue-Toastification__toast--success .Vue-Toastification__progress-bar {
  background: var(--toastification-color-success-lines);
  color: var(--toastification-color-success-lines);
}

/* Error */
.Vue-Toastification__toast--error .Vue-Toastification__progress-bar {
  background: var(--toastification-color-error-lines);
  color: var(--toastification-color-error-lines);
}

/* Info */
.Vue-Toastification__toast--info .Vue-Toastification__progress-bar {
  background: var(--toastification-color-info-lines);
  color: var(--toastification-color-info-lines);
}

/* Warning */
.Vue-Toastification__toast--warning .Vue-Toastification__progress-bar {
  background: var(--toastification-color-warning-lines);
  color: var(--toastification-color-warning-lines);
}

@media (max-width: 600px) {
  .Vue-Toastification__toast {
    max-width: 90vw;
    margin: 0 auto;
    top: 30px;
  }
}
