/* Estilo da janela modal */
.modal {
  background: transparent;
  padding: 10px;
  border-radius: 8px;
  min-width: 300px;
  text-align: center;
  color: var(--text);
}

.modal-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.btn,
.btn-destructive {
  margin: 5px;
}

.callOverlay {
  cursor: pointer;
}
