::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.ggrid {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* padding: 15px; */
}

.ggrid .content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.sliding {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  box-sizing: border-box;
}

.container.gameCard {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  max-width: 250px;
  margin: 20px;
  background-color: var(--overlay-bg);
  border-radius: 15px;
  width: 200px;
  min-width: 200px;
  height: 340px;
}

.container.gameCard .uiOptions {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.container.gameCard .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container.gameCard .title {
  position: absolute;
  top: -15px;
  left: 6px;
  padding: 10px;
  color: white;
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-size: 20px;
}

.container.gameCard .banner #banner {
  max-width: 100%;
  height: auto;
}

.container.gameCard .banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #12121260, transparent);
  pointer-events: none;
}

.container.gameCard:hover {
  transform: scale(1.05);
}

.btn#left {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.btn#right {
  display: grid;
  grid-column: 3;
  grid-row: 1;
}

#play-button {
  background-color: var(--discovery-play-button);
  z-index: 1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .btn#left {
    display: none !important;
  }
  .btn#right {
    display: none !important;
  }
}
