::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.ggrid {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* padding: 15px; */
}

.ggrid .content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  /* overflow-x: auto; */
  scroll-behavior: smooth;
}

.sliding {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  box-sizing: border-box;
}

.btn#left {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.btn#right {
  display: grid;
  grid-column: 3;
  grid-row: 1;
}

#play-button {
  background-color: var(--discovery-play-button);
  z-index: 1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .content .group-button {
    display: none;
  }
  #btn {
    display: none;
  }
  .sliding {
    gap: 0;
  }
}
