:root[data-modifier='glass'] {
  --main-glass-border: #ff0000;

  --btn-glass-default: #ff0000;
  --btn-glass-default-border: #ff0000;

  --btn-glass-confirm: #ff0000;
  --btn-glass-confirm-border: #ff0000;

  --btn-glass-destructive: #ff0000;
  --btn-glass-destructive-border: #ff0000;

  --btn-glass-cancel: #ff0000;
  --btn-glass-cancel-border: #ff0000;
}

:root[data-theme='dark'][data-modifier='glass'] {
  --main-gradient: #ff0000;
  --main-glass-background: #ff0000;
  --main-glass-shadow: #ff0000;
  --main-glass-border: #ff0000;

  --btn-glass-default: #ff0000;
  --btn-glass-default-border: #ff0000;

  --btn-glass-confirm: #ff0000;
  --btn-glass-confirm-border: #ff0000;

  --btn-glass-destructive: #ff0000;
  --btn-glass-destructive-border: #ff0000;

  --btn-glass-cancel: #ff0000;
  --btn-glass-cancel-border: #ff0000;
}

:root[data-modifier='glass'] {
  --main-glass-blur: #ff0000;
  --main-glass-saturate: #ff0000;
}
