.h1s {
    display: flex;
    position: fixed;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: none;
    z-index: 2;
    left: 0;
    bottom: 0;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    background-color: var(--menu);
}     

.hidden {
    display: none;
}

.menu {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.menu .left,
.menu .right {
    display: grid;
    align-items: flex-end;
}

.menu .left {
    grid-column: 1;
    
}

.menu .right {
    grid-column: 2;
}

.menu a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    align-self: flex-end;
}

.menu a p {
    font-size: medium;
    font-weight: 600;
}

