/* Estilo principal */
main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

/* Container para o banner */
.container {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

/* Estilo geral para botões */
.btn {
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

/* Efeito ao passar o mouse sobre o botão */
.btn:hover {
    transform: scale(1.05);
}

/* Estilo para o botão de voltar */
#back-button {
    background-color: darkgoldenrod;
    position: fixed;
    top: 10px;
    left: 10px;
}

#back-button:hover {
    background-color: darkorange;
}

/* Grade de jogos */
#games-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para a janela de jogo */
#window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para o banner */
#banner {
    max-width: 100%;
    height: auto;
}

/* Animação de flutuação */
.floating {
    animation: floating 3s infinite ease-in-out;
}

/* Estilo para o botão de iniciar jogo */
#play-button {
    background-color: lawngreen;
}

#play-button:hover {
    background-color: greenyellow;
}

/* Animação de flutuação */
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    #back-button {
        top: 5px;
        left: 5px;
    }

    .btn {
        font-size: 12px;
        padding: 8px;
    }

    #play-button {
        width: 80%;
        font-size: 16px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .container {
        max-width: 90%;
    }

    #play-button {
        font-size: 18px;
        padding: 12px;
    }

    #banner {
        max-width: 60%;
    }
}
