::-webkit-scrollbar {
    display: none;
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
}


/* CSS CONVENCIONAL */
.container .hide-p1s {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
    color: var(--text);
    border: none;
    z-index: 3;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.p1s {
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--bg) var(--bg);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border-right: 1px solid var(--border);
}

.p1s-content {
    height: 100%;
    width: auto;
}

.p1s.minimized {
    width: 40px;
    box-sizing: unset;
}

.hidden {
    transition: width 0.2s ease, transform 0.5s ease, border 450ms ease-out !important;
    transform: translateX(-100%);
}

.center {
    display: flex;
    align-items: center;
}

.center ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.center ul li {
    display: flex;
    color: var(--mh-options);
    padding: 5px 15px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    align-items: center;
    justify-content: flex-start;
}

.center ul li:hover {
    color: var(--mh-options-hover);
}

.center ul li p {
    margin-left: 8px;
}

.center ul li span {
    font-size: 24px;
}


/* Tela de PC/Laptop */
.app.pc .p1s {
    display: grid;
    grid-column: 1;
    align-self: flex-start;
    height: 100%;
    width: 240px;
    transition: width 0.5s ease, transform 0.5s ease;
}

.app.pc .p1s .p1s-content {
    margin-top: 60px;
}

.app.pc .p1s.minimized {
    width: 60px;
}

.app.pc .p1s .center ul {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.app.pc .p1s .center ul li p {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
    transform: translateX(0);
}

.app.pc .p1s.minimized .center ul li p {
    opacity: 0;
    transform: translateX(-20px);
}

.app.pc .p1s .center ul li span {
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.app.pc .p1s.minimized .center ul li span {
    transform: scale(1.3);
}

.app.pc .p1s.minimized.hidden {
    transform: translateX(-100%);
}

.app.pc .p1s.active.hidden {
    transform: translateX(0%);
}

.app.pc .p1s .user-info img {
    width: 28px;
    height: auto;
    border-radius: 50%;
    transition: width 0.3s ease;
}

.app.pc .p1s .invisible-drag-camp {
    display: none;
}


/* Tela de Tablet/TV */
.app.full .p1s * {
    margin: 0;
    padding: 0;
}

.app.full .p1s {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease, transform 0.5s ease;
}

.app.full .p1s.minimized {
    transform: translateX(-100%);
}

.app.full .p1s .center ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app.full .p1s .center ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* .app.full .p1s .center ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.app.full .p1s .center ul li span {
    font-size: 40px;
    margin: 0;
    transition: transform 0.3s ease;
}

.app.full .p1s .center ul li p {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 15px;
    /* font-weight: bold; */
    margin-top: 10px;
    line-height: 1.2;
}

.app.full .p1s .center ul li:hover p,
.app.full .p1s .center ul li.selected p {
    opacity: 1;
    transform: translateY(0);
}


.app.full .p1s .center ul li:hover {
    transform: scale(1.1);
}

.app.full .p1s .center ul li.selected {
    transform: scale(1.1);
}

.app.full .p1s .user-info {
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
}

.app.full .p1s .user-info img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.app.full .p1s.active {
    transform: translateX(0);
}


/* Tela de Smartphone */
.app.mobile .hide-p1s {
    display: none;
}

.app.mobile .p1s.active {
    transform: translateY(10%);
}

.app.mobile .p1s.p1s.minimized {
    transform: translateY(100%);
}

.app.mobile .p1s {
    position: fixed;
    width: 100%;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: var(--menu);
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.app.mobile .p1s .invisible-drag-camp {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    pointer-events: auto;
    z-index: 3;
}

.app.mobile .p1s .drag-handle {
    width: 130px;
    height: 10px;
    background-color: var(--text);
    border-radius: 5px;
    margin: 0 auto;
    cursor: grab;
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(10px);
    z-index: 4;
} 

.app.mobile .p1s .center {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 0;
}

.app.mobile .p1s.minimized {
    width: auto;
}

.app.mobile .p1s .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app.mobile .p1s .user-info img {
    position: unset;
}

.app.mobile .p1s .user-info img.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.app.mobile .p1s .user-info .user-name {
    font-size: 14px;
    color: var(--text);
    margin: 0;
}

.app.mobile .p1s .user-info .user-name {
    font-weight: bold;
}

.app.mobile .p1s .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

.app.mobile .p1s .center ul li {
    margin: 10px 5px;
    background-color: var(--form-bg-sub);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app.mobile .p1s .center ul li {
    color: var(--text);
}

.app.mobile .p1s .center ul li span {
    margin-top: 12px;
}

@media (max-width: 768px) {
    .p1s {
        height: auto;
    }
    .hide-p1s {
        display: none;
    }
}