::-webkit-scrollbar {
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
}


/* CSS CONVENCIONAL */
.p1s {
    z-index: 2;
    align-self: flex-start;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--bg) var(--bg);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border-right: 1px solid var(--border);
}

.p1s-content {
    height: 100%;
    width: auto;
}

.hide-p1s {
    position: absolute;
    top: 26px;
    left: 16px;
    transform: translateY(-50%);
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 30px;
    color: var(--text);
    border: none;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.focus-p1s {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.focus-p1s.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s;
}


.p1s.minimized {
    width: 40px;
}

.p1s.active .center ul li a p {
    display: unset;
}

.p1s.active .center ul li,
.p1s.active .user-info,
.p1s.active header {
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
}

.center {
    margin-top: 100px;
}

.p1s.minimized .center {
    margin-top: 0;
}

.center ul {
    list-style: none;
    margin: 0;
    transition: 0.5s ease;
}

.center ul li {
    padding: 5px 15px;
    transition: transform 0.3s ease;
}

.center ul li:hover {
    transform: scale(1.1);
}

.center ul li a span {
    font-size: 24px;
}

.center ul li a {
    text-decoration: none;
}

.user-info {
    height: 40px;
    margin-top: 20px;
}

.menu ul li a p,
.user-info p,
header {
    /* display: none; */
    transition: width 0.5s ease;
}

.hidden {
    transform: translateX(-100%);
}

.hide {
    display: none;
    transition: opacity 0.5s ease;
}

.user-info {
    position: relative;
    text-align: center;
    padding: 20px;
}

.user-info img.profile-picture {
    width: 60px; /* Aumente o tamanho da imagem */
    height: 60px; /* Garantir que a imagem tenha altura proporcional */
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    margin: 5px 0;
}

.user-email {
    font-size: 14px;
    color: var(--mh-user-email);
}

.menu-options {
    display: flex;
    align-items: center;
}

.menu-options ul {
    list-style-type: none;
    padding: 0;
}

.menu-options li {
    padding-left: 15px;
    display: flex;
    list-style: none;
}

.menu-options a {
    display: flex;
    color: var(--mh-options);
    text-decoration: none;
    cursor: pointer;
}

.menu-options a p {
    margin-left: 8px;
}

.menu-options a span {
    margin-top: 17px;
}

.menu-options a:hover {
    color: var(--mh-options-hover);
}


/* Tela de PC/Laptop */
.app.pc .p1s {
    display: grid !important;
    grid-column: 1;
}

.app.pc .p1s {
    height: 100%;
    width: 240px;
    transition: width 0.5s ease, transform 0.5s ease;
}

.app.pc .p1s.minimized {
    width: 60px;
}

.app.pc .p1s .center ul li a p {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(0);
}

.app.pc .p1s.minimized p {
    display: none;
    transition: font-size 0.3s ease;
}

.app.pc .p1s.minimized .center ul li a p {
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
}

.app.pc .p1s .center ul li a span {
    transition: transform 0.3s ease;
}

.app.pc .p1s.minimized .center ul li a span {
    transform: scale(1.2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.app.pc .p1s.minimized.hidden {
    transform: translateX(-100%);
}

.app.pc .p1s.active.hidden {
    transform: translateX(0%);
}

.app.pc .p1s .center ul {
    transition: opacity 0.5s ease-in-out;
}

.app.pc .p1s .user-info img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.app.pc .p1s.minimized .user-info {
    margin-top: 100px;
    margin-bottom: 20px;
}

.app.pc .p1s.minimized .user-info img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    margin-top: 10px;
}


/* Tela de Tablet/TV */
.app.full .p1s * {
    margin: 0;
    padding: 0;
}

.app.full .p1s {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease, transform 0.5s ease;
}

.app.full .p1s.minimized {
    transform: translateX(-100%);
}

.app.full .p1s .center ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app.full .p1s .center ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.app.full .p1s .center ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.app.full .p1s .center ul li a span {
    font-size: 40px;
    margin: 0;
    transition: transform 0.3s ease;
}

.app.full .p1s .center ul li a p {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 15px;
    /* font-weight: bold; */
    margin-top: 10px;
    line-height: 1.2;
}

.app.full .p1s .center ul li a:hover p,
.app.full .p1s .center ul li.selected a p {
    opacity: 1;
    transform: translateY(0);
}


.app.full .p1s .center ul li:hover {
    transform: scale(1.1);
}

.app.full .p1s .center ul li.selected {
    transform: scale(1.1);
}

.app.full .p1s .user-info {
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
}

.app.full .p1s .user-info img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.app.full .p1s.active {
    transform: translateX(0);
}


/* Tela de Smartphone */
.app.mobile .hide-p1s {
    display: none;
}

.app.mobile .p1s {
    position: fixed;
    width: 100%;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: var(--menu);
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); */
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.app.mobile .p1s .invisible-drag-camp {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    pointer-events: auto;
    z-index: 3;
}

.app.mobile .p1s .drag-handle {
    width: 100px;
    height: 10px;
    background-color: var(--text);
    border-radius: 5px;
    margin: 0 auto;
    cursor: grab;
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(10px);
    z-index: 4;
} 

.app.mobile .p1s .center {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 0;
}

.app.mobile .p1s.minimized {
    width: auto;
}

.app.mobile .p1s .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app.mobile .p1s .user-info img {
    position: unset;
}

.app.mobile .p1s .user-info img.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.app.mobile .p1s .user-info .user-name,
.app.mobile .p1s .user-info .user-email {
    font-size: 14px;
    color: var(--text);
    margin: 0;
}

.app.mobile .p1s .user-info .user-name {
    font-weight: bold;
}

.app.mobile .p1s .user-info .user-email {
    font-size: 12px;
}

.app.mobile .p1s .menu-options {
    justify-content: center;
}

.app.mobile .p1s .menu-options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

.app.mobile .p1s .menu-options li {
    margin: 10px 5px;
    background-color: var(--form-bg-sub);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app.mobile .p1s .menu-options a {
    display: flex;
    color: var(--text);
    text-decoration: none;
}

.app.mobile .p1s .menu-options a span #ul1-li3 {
    margin-top: 15px;
}

.app.mobile .p1s .menu-options a span #ul1-li3 {
    margin-top: 14px;
}

.app.mobile .p1s .menu-options a span #ul1-li4 {
    margin-top: 16px;
}

@media (max-width: 768px) {
    .p1s {
        height: auto;
    }
    .hide-p1s {
        display: none;
    }
}